.hero {
  background-color: #0C0C0C;
  color: #fff;
  padding-top: 219px;
  padding-bottom: 100px;
  border-radius: 0 0 50px 50px;
  margin-bottom: 100px;

  @media (max-width: 1600px) {
    padding-top: px;
  }

  @media (max-width: 1024px) {
    padding-top: 160px;
  }

  @media (max-width: 786px) {
    margin-bottom: 60px;
  }

  .heroTitle {
    @media (max-width: 1024px) {
      margin-bottom: 20px;

      br {
        display: none;
      }

    }
  }

  .heroWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 70px;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    .heroText {
      width: 45%;

      @media (max-width: 1024px) {
        width: 100%;
      }

    }

  }

  .heroImgBox {
    max-width: 85%;
    overflow: hidden;
    border-radius: 50px;
    max-height: 700px;
    margin: 0 auto;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    @media (max-width: 1600px) {
      max-height: 512px;
    }

    @media (max-width: 1024px) {
      max-height: 417px;
      max-width: 100%;
    }

    @media (max-width: 786px) {
      height: 241px;
      max-height: unset;
    }

  }

}

.services {
  margin-bottom: 100px;

  @media (max-width: 786px) {
    margin-bottom: 60px;
  }

  .servicesTitle {
    margin-bottom: 32px;
  }

  .servicesTabsBox {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 20px;
    }

  }

}

.mission {
  margin-bottom: 100px;

  @media (max-width: 786px) {
    margin-bottom: 60px;
  }

  .missionTitle {
    margin-bottom: 20px;
  }

  .missionContent {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 786px) {
      flex-direction: column;
    }

    .textBox {
      width: 45%;

      @media (max-width: 786px) {
        width: 100%;

        &:first-child {
          margin-bottom: 13px;
        }

      }

      .text {
        font-size: clamp(16px, 1.3vw, 18px);
        font-weight: 400;
        color: #4D4D4D;

        &:nth-child(2) {
          margin-top: 13px;
        }

      }

    }

  }

}