.tab {
  background-color: #F1F1F1;
  border-radius: 20px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  padding: 24px 3%;
  height: 170px;

  @media (max-width: 600px) {
   max-width: unset;
   width: 100%;
   padding: 24px 40px;
  }

  .img {

    margin-bottom: 12px;
    
    &:nth-child(1) {
      max-width: 62px;
      width: 26%;
      height: 62px;
    }

  }

  .text {
    font-size: clamp(14px, 1.4vw, 18px);

    @media (max-width: 600px) {
      font-size: 18px;
     }

  }

}