#enix-bg {
  background-image: url('../../public/png/enix.png');
}

#equilica-bg {
  background-image: url('../../public/png/equilica.png');
}

#achivers-bg {
  background-image: url('../../public/png/achivers.png');
}