// Colors
$blue: #312DFF;
$blueActive: #2420D5;
$blueActiveOnBlack: #4A47FE;
$white: #fff;
$dark: #1F1F1F;

// Fonts
$grandisExtended: 'Grandis-Extended';
$manrope: 'Manrope', sans-serif;

// Font-size
$title-fs: clamp(35px, 3.7vw, 50px);
$title-h2: clamp(30px, 2.8vw, 50px);
$text-fs: 16px;