@import '@/styles/vars.scss';

.nav,
.filter {

  .list {
    display: flex;
    align-items: center;
    gap: 47px;

    @media (max-width: 1024px) {
      display: none;
    }

    .link {
      color: $dark;
      text-decoration: none;
      font-weight: 400;
      transition: all .4s ease-in-out;

      &:hover {
        color: $blue;
      }
    }
  }

}

.active {
  color: $blue;
  text-decoration: none;
}

.filter {
  .link {
    color: #fff !important;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }

  }

  .active {
    opacity: 1;
    color: #fff !important;
  }
}